@model med_project_finalized.Models.Diagnoses

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Diagnoses</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Diagnosis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagnosis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCured)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCured)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
